


{% macro displayNewsList(source_list) %}
    {%for source in source_list %}
    <div class="col-xs-12 col-sm-4 col-md-3 pt-3">
        <div class="card">
            <h5 class="card-header">{{source.name}}</h5>
            <div class="card-body">
              <p class="card-text">{{source.description|truncate(50)}}</p>
            </div>
            <div class="card-footer">
                <a href="{{source.url}}" class="btn btn-primary" target="_blank">Read More</a>
            </div>
          </div>
    </div>
        {% endfor %}
{% endmacro %}

{% macro displayArticlesList(articles_list) %}
    {%for article in articles_list%}
    <div class="col-xs-12 col-sm-4 col-md-3 pt-3">
        <div class="card" style="width: 18rem;">
            <img src="{{article.urlToImage}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{article.title}}</h5>
              <p class="card-text">{{article.description|truncate(50)}}</p>
              <h3>Author:{{article.author}}</h3>
              <p>Date published:{{article.publishedAt}}</p>
            </div>
            <div class="card-footer" >
                <a href="{{article.url}}" class="btn btn-primary" target="_blank">View Article</a>
            </div>
          </div>
    </div>
        {% endfor %}
{% endmacro %}